.color {
  position: relative;
}

.color > i {
  display: inline-block;

  width: 1em;
  aspect-ratio: 1;

  vertical-align: middle;
  margin-top: -.25rem;

  box-shadow: 0 0 0 .1rem rgb(var(--neutral)), .2rem .2rem .5rem rgba(var(--dark), .5);
  background-color: rgb(var(--rgb));
  
  cursor: help;
}

.color > input {
  display: none;
}

.color > span {
  position: absolute;
  right: 4rem;
  translate: 1rem -1rem;

  padding: 1rem 4rem;
  width: max-content;

  visibility: hidden;
  opacity: 0;

  text-align: left;
  white-space: break-spaces;

  isolation: isolate;
  z-index: 2;
  pointer-events: none;
  user-select: none;
  cursor: auto;

  background: linear-gradient(
    to right,
    transparent,
    rgba(20, 18, 15, .5) 20% 80%,
    transparent
  );

  transition: 150ms ease-in-out;
}

.color > span::before, .color > span::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0.1rem;
  
  background: linear-gradient( to right, transparent, rgba(120, 118, 100, .75) 20% 80%, transparent );
  filter: blur(.05rem);
}

.color > span::after {
  bottom: 0;
  top: unset;
}

.color:has( input:checked)::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;

  background-color: transparent;
  z-index: 1;
}

.color > input:checked + span {
  visibility: visible;
  opacity: 1;
  translate: 0 -1rem;
  pointer-events: initial;
  user-select: initial;
}