@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* TEXTS */

:root {
  --primary: 255, 230, 155;
  --secondary: 190, 170, 130;
  --warning: 200, 150, 50;
  --danger: 175, 0, 25;
  --success: 0, 200, 100;
  --disabled: 100, 100, 90;
  --neutral: 200, 200, 175;
  --dark: 15, 15, 15;

  color: rgb(var(--neutral));
  font-family: 'Crimson Text', serif;
  text-shadow: .2rem .2rem .2rem rgb(var(--dark));
}

input {
  font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4 {
  color: rgb(var(--primary));
  font-weight: 600;
}

a {
  color: inherit;
  text-decoration: none;
}

/* COMPONENTS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background: linear-gradient(
    to bottom,
    rgb(22, 25, 20) 5%,
    rgb(32, 32, 29) 15%,
    rgb(62, 59, 45) 40%,
    rgb(90, 85, 70),
    rgb(120, 118, 100) 75%,
    rgb(125, 123, 105) 77%,
    rgb(130, 128, 110) 81%,
    rgb(125, 123, 105) 85%,
    rgb(65, 65, 50)
  ) rgba(15, 20, 15, 25%);
  background-blend-mode: soft-light;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
}

header {
  width: 100vw;
}

body > .container {
  flex: 1;
}

.container, footer {
  padding: 1rem 4rem;
}

main {
  position: relative;
  padding: 1rem 2rem;
  margin: 2rem -2rem;
}

main::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  border-radius: .5rem;

  background: rgba(var(--dark), .25);
  filter: blur(.5rem);
}

@media screen and (max-width: 767px)  {
  .container, footer {
    width: 100vw;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px)  {
  .container, footer {
    width: 768px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1365px)  {
  .container, footer {
    width: 1024px;
  }
}

@media screen and (min-width: 1366px)  {
  .container, footer {
    width: 1366px;
  }
}

/* INTERACTIVES */
button {
  position: relative;
  max-width: 20rem;
  width: stretch;
  padding: .5rem;
  margin: 1rem auto;

  font-size: 1.25rem;
  font-family: 'Crimson Text', serif;
  color: rgb(var(--neutral));
  
  text-shadow: .2rem .2rem .2rem rgb(var(--dark));
  background: radial-gradient(rgba(var(--neutral), .05), transparent) rgba(var(--dark), .4);
  border: none;
  outline: none;

  transition:
    background 200ms 200ms ease-in-out,
    filter 200ms ease-in-out,
    text-shadow 200ms ease-in-out,
    box-shadow 100ms ease-in-out;
  cursor: pointer;
}

button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: -1;

  outline: solid .1rem rgb(var(--neutral));
  filter: drop-shadow(0 0 .1rem rgb(var(--neutral)));
  pointer-events: none;
}

button:hover {
  text-shadow: none;
  filter: drop-shadow(0 0 .1rem rgb(var(--neutral)));
  background: radial-gradient(rgba(var(--primary), .05), transparent) transparent;
  transition:
    filter 200ms ease-in-out,
    text-shadow 200ms ease-in-out,
    box-shadow 100ms ease-in-out;
}

button:active {
  box-shadow: inset 0 0 2rem rgb(var(--primary), .1);
  background: radial-gradient(rgba(var(--primary), .1), transparent) rgba(var(--dark), .4);
  transition: 200ms ease-in-out;
}