.table {
  position: relative;
  margin: 2rem 0;
  max-width: 20rem;
  width: stretch;
  border-spacing: 0;

  transition: 250ms 250ms ease-in-out;
}

.table::before {
  content: '';
  position: absolute;
  z-index: -1;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    -15deg,
    transparent,
    transparent,
    rgba(var(--dark), .5)
  );
  filter: blur(.5rem);

  pointer-events: none;
}

.table tbody {
  position: relative;
}

.table tbody::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: .25rem;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(var(--secondary), .5) 25% 75%,
    transparent
  );
  filter: blur(.05rem);

  pointer-events: none;
}

.table tr {
  font-size: 1.25rem;
  transition: 200ms ease-in-out, opacity 250ms 500ms ease-in-out;
}

.table th,
.table td {
  padding-bottom: .25rem;
  padding-left: .75rem;
  text-align: start;
  font-weight: normal;
  transition: 250ms 250ms ease-in-out;
}

.table th {
  color: rgb(var(--secondary));
}

.table thead th {
  padding-left: 0;
}

.table tr > :last-child {
  text-align: end;
}

.table tr > :only-child {
  text-align: start;
}

.table td:empty {
  padding-block: .25rem;
}

.table tbody th {
  padding-top: .5rem;
}

.table .collapse_button {
  display: inline-flex;
  gap: .5rem;
  cursor: pointer;
  text-align: inherit;
  align-items: center;
  width: stretch;
  justify-content: flex-end;
}

.table thead th:first-child .collapse_button {
  justify-content: flex-start;
}

.table thead th:only-child .collapse_button {
  justify-content: space-between;
}

.table .collapse_icon {
  font-style: normal;
  display: block;
  position: relative;
  width: .75rem;
  height: .75rem;
  filter: drop-shadow(0 .2rem .2rem rgb(var(--dark)));
  scale: .75;
  transition: 125ms ease-in-out;
}

.table .collapse_icon::before,
.table .collapse_icon::after {
  content: '';
  position: absolute;
  border: solid rgb(var(--secondary));
  border-width: 0 .25rem .25rem 0;
  rotate: 45deg;
}

.table .collapse_icon::before {
  left: 0;
  top: 0;
  translate: 100% 0;
}

.table .collapse_icon::after {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.table .collapse_button:has( + .collapse_input:checked) .collapse_icon {
  rotate: 180deg;
  filter: drop-shadow(0 -.2rem .2rem rgb(var(--dark)));
}

.table .collapse_input {
  display: none;
}

.table:has( .collapse_input:checked) {
  border-spacing: 0;
  margin-top: 1.5rem;
}

.table thead:has( .collapse_input:checked) + tbody tr {
  box-shadow: none;
  opacity: 0;
  visibility: hidden;
  user-select: none;
  pointer-events: none;
  transition: 200ms ease-in-out;
}

.table thead:has( .collapse_input:checked) + tbody tr > * {
  font-size: 0;
  padding: 0;
}


@media screen and (max-width: 480px) {
  .table {
    max-width: 100%;
  }
}

@media screen and (min-width: 1366px) {
  .table {
    margin: 0 0.5rem 1.5rem .5rem;
    min-width: 40rem;
    max-width: 60rem;
    width: unset;
    border-spacing: 0 1.5rem;
  }

  .table:has(+ .table) {
    margin-bottom: 0;
  }  

  .table tbody {
    position: initial;
  }

  .table::before,
  .table tbody::before {
    all: initial;
  }
  
  .table tbody tr {
    background: rgba(120, 118, 100, .15) 10% 90%;
    box-shadow: 0 0 .5rem .5rem rgba(120, 118, 100, .15);
  }

  .table tbody tr:has(th) {
    background: none;
    box-shadow: none;
  }

  .table tr:has(td:empty) {
    background: none;
    box-shadow: none;
  }

  .table th {
    font-weight: normal;
    padding: .5rem 1rem 0 1rem;
  }

  .table thead th:has( .collapse_button) {
    padding: 0;
  }

  .table thead th:has( .collapse_button) .collapse_button {
    padding: .5rem 2rem 0 2rem;
  }

  .table td {
    padding: .5rem 1rem;
    text-align: start;
  }
  
  .table tr > :first-child {
    padding-left: 2rem;
  }
  
  .table tr > :last-child {
    padding-right: 2rem;
  }

  .table td:empty {
    padding-block: 0;
  }
}